/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px),( max-width: 768px) {
    .testimonial .comm{
        float: left;
        text-align: left;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px), (max-width: 992px) {
    .contacts{
        display: none;
    }

    .main-navbar{
        display: none;
    }

    .main-navbar .icon-menu{
        display: block;
        font-size: 25px;
    }

    .welcome-part img{
        max-width: 100%;
    }

    .destinations .card{
        height: 390px;
    }

    
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px), (max-width: 1200px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {

}