*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F8F9FA;
}

.contacts .row{
    margin-left: 400px;
    margin-top: -70px;
}

.text-muted{
    font-weight: 100;
}

.navigation ul li a{
    
    color: #FFFFFF;
    display: inline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    float: left;
    margin-left: 30px;
    font-size: 18px;
    text-transform: uppercase;
}

.navigation ul{
    margin-left: 300px;
}

a{
    text-decoration: none;
}

.navigation ul li{
    list-style-type: none;
}

.navigation{
    padding: 35px;
    background-color: #1089FF;
    width: 1382px;
    margin-left: -150px;
    margin-bottom: 2px;
}

.carousel-cell{
    width: 100%;
    height: 110vh;
}

.img-text section{
    margin-left: 50px;
    margin-top: -550px;
    color: #FFFFFF;
}

.main-carousel{
    margin-left: -129px;
}

.welcome-part{
    margin-top: 100px;
}

.welcome-parts h3{
    color: #000000;
    font-family: "Oswald",sans-serif;
    font-weight: 500;
}

.btn{
    background-color: #1089FF;
    color: #FFFFFF;
    text-transform: uppercase;
    transition: .3s;
}
.btn:hover{
    color: #FFFFFF;
    background-color: #0b6ac9;
}

.line{
    background-color: #1089FF;
    width: 55px;
    height: 2px;
}
.info-part{
    margin-top: 190px;
}
.icons{
    color: #000000;
}

.num-img{
    width: 1362px;
    height: 60vh;
    margin-left: -130px;
    position: absolute;
    opacity: 0.9;
}
.col{
    color: #ffffff;
    
}
.destinations img{
    width: 360px;
    height: 270px;
    margin-left: -12px;
}

.col h3 p{
    text-align: center;
}
.numbers{
    justify-content: center;
    text-align: center;
}

.destinations .line{
    margin-left: 530px;
}

.card{
    box-shadow: 0 10px 35px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    width: 361px;
    height: 363px;
}

.card-title{
    margin-left: -60px;
    margin-top: -20px;
}

.card .price{
    width: -600px;
    height: -200px;
    background-color: #1089FF;
}

.card-body{
    margin-top: -19px;
}

.icon-location:hover{
    color: #0080ff;
}

.icon-calendar{
    color: #797979;
}

.date{
    margin-left: -32px;
    margin-top: -8px;
}

.light-section{
    background: #FFFFFF !important;
}

.text{
    font-size: 1em;
    font-family: cursive;
    font-style: oblique;
}

.booking .line{
    width: 64px;
}

.booking label{
    color: #777;
}

.booking textarea{
    border: 1px solid #bfbfbf;
}

.img{
    width: 630px;
    height: 420px;
}

.form-control{
    color: #495057;
}