*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F8F9FA;
}

.contacts .row{
    margin-left: 400px;
    margin-top: -420px;
}

.text-muted{
    font-weight: 100;
}

.navigation ul li a{
    
    color: #FFFFFF;
    display: inline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    float: left;
    margin-left: 30px;
    font-size: 18px;
    text-transform: uppercase;
}

.navigation ul{
    margin-left: 300px;
}

a{
    text-decoration: none;
}

.navigation ul li{
    list-style-type: none;
}

.navigation{
    align-content: stretch;
    padding: 35px;
    background-color: #1089FF;
    width: 1382px;
    margin-left: -150px;
}

.carousel-cell{
   width: 100%;
    height: 650px;
}

.img-text img{
    background: #1088ff25;
    background-position:center;
    background-size:cover;
    width:3000px;
    height:650px;
}

.img-text section{
    margin-left: 50px;
    margin-top: -550px;
    color: #FFFFFF;
}

.main-carousel{
    margin-left: -129px;
}

.welcome-part{
    margin-top: 100px;
}

.welcome-parts h3{
    color: #000000;
    font-family: "Oswald",sans-serif;
    font-weight: 500;
}

.btn{
    background-color: #1089FF;
    color: #FFFFFF;
    text-transform: uppercase;
    transition: .3s;
}
.btn:hover{
    color: #FFFFFF;
    background-color: #0b6ac9;
}

.line{
    background-color: #1089FF;
    width: 55px;
    height: 2px;
}
.info-part{
    margin-top: 190px;
    margin-bottom: 160px;
}
.icons{
    color: #000000;
}

.num-img{
    width: 1362px;
    height: 60vh;
    margin-left: -130px;
    position: absolute;
    background-color: #1088ff34;
}
.col{
    color: #ffffff;
    
}
.destinations img{
    width: 360px;
    height: 270px;
    margin-left: -12px;
}

.destinations{
    margin-top: 300px;
}

.col h3 p{
    text-align: center;
}
.numbers{
    justify-content: center;
    text-align: center;
}

.destinations .line{
    margin-left: 530px;
}

.card{
    box-shadow: 0 10px 35px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    width: 361px;
    height: 363px;
}

.card-title{
    margin-left: -60px;
    margin-top: -20px;
}

.card .price{
    width: -600px;
    height: -200px;
    background-color: #1089FF;
}

.card-body{
    margin-top: -19px;
}

.icon-location:hover{
    color: #0080ff;
}

.icon-calendar{
    color: #797979;
}

.date{
    margin-left: -32px;
    margin-top: -8px;
}

.light-section{
    background: #FFFFFF !important;
}

.text{
    font-size: 1em;
    font-family: cursive;
    font-style: oblique;
}

.booking .line{
    width: 64px;
}

.booking label{
    color: #777;
}

.booking textarea{
    border: 1px solid #bfbfbf;
}

.img{
    width: 630px;
    height: 420px;
}

.form-control{
    color: #495057;
}

.team .line{
    margin-left: 520px;
}

.member .img{
    width: 260px;
    height: 320px;
}

.member .icon{
    background-color: #FFFFFF;
    width: 70px;
    height: 70px;
    color: #1089FF;
}

.centered {
    font-size: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
}


.testimonial{
    margin-top: 200px;
}

.testimonial .line{
    margin-left: 520px;
}

.rounded-circle{
    border-radius: 50%;
}

.feed h5{
    font-weight: 400;
}

.feed .bg-light{
    color: #CFDBED;
    border: 1px solid #777;
    text-align: left;
}

.in-touch{
    background: #1088ff25;
    background-position:center center;
    background-size:cover;
    width:1345px;
    height:300px;
}

.in-touch .text-center{
    margin-top: 70px;
}

.footer .line1{
    width: 125px;
}

.footer .line2{
    width: 116px;
}

.footer .line3{
    width: 70px;
}

.footer .line{
    margin-top: -7px;
}

.footer ul li{
    margin-top: 10px;
    display: flex;
    justify-content: left;
}

.foot-head{
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
}


.copyright-sec{
    margin-top: 130px;
    margin-left: 220px;
    margin-bottom: 90px;
}